dist/
www/
storybook-static/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.d.ts

.stencil/
.idea/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

components.d.ts
.distribution

# The npm deploy process needs this file, so we cannot ignore it:
yarn.lock

