@import '../../global/scss/theme-default';

wc-cta {
  display: block;
}

// Tablet and above SCSS goes here, Optional
@include media-breakpoint-up(sm) {
  wc-cta {
    display: block;
  }
}

// Desktop and above SCSS goes here, Optional
@include media-breakpoint-up(md) {
  wc-cta {
    display: block;
  }
}

// Large Desktop SCSS goes here, Optional
@include media-breakpoint-up(lg) {
  wc-cta {
    display: block;
  }
}
